$greyColor: #797979;
$brownColor: #c9a030;
$softBrownColor: #e9d6c5;
$whiteColor: #fefefe;
$colorBlack: #262729;
$hoverLink: #ffffff;

////////////
$widthAvatarBlock: 400px;
$iconWidth: 40px;
$iconHeight: 40px;