$greyColor: linear-gradient(97deg, rgba(171,171,171,1) 0%, rgba(99,99,99,1) 75%);
// $greyColor: linear-gradient(90deg, rgba(117,117,117,1) 53%, rgba(57,57,57,1) 79%);
$brownColor: #c9a030;
$softBrownColor: #e9d6c5;
$whiteColor: #fefefe;
$colorBlack: #262729;
$hoverLink: #ffffff;

////////////
$widthAvatarBlock: 400px;
$iconWidth: 40px;
$iconHeight: 40px;